<% layout('/layout/boilerplate.ejs') %>
<div class="usage-content-wrapper">
  <h1 class="mb-3">About</h1>
  <div class="content-section">
    <h3>Problem:</h3>
    <ul>
      <li>
        Users buy assets from different platforms available in the market, to
        track these assets manually is a tough task.
      </li>
      <li>
        Users also buys personal assets like gold, paintings, nft, personal
        bonds, etc. and tracking them need some personal assistance.
      </li>
      <li>
        To keep track of all this assets as well as to calculate the profit/loss
        is a time consuming project.
      </li>
      <li>AssetTracker solves this problem</li>
    </ul>
  </div>
  <div class="content-section">
    <h3>Solution</h3>
    <ul>
      <li>AssetTracker solves all this problem.</li>
      <li>You can add your stocks as well as personal assets.</li>
      <li>
        AssetTracker will track yor assets daily price and will present you with
        all information needed.
      </li>
      <li>The site is completely free and all your data is secure.</li>
    </ul>
  </div>
  <div class="content-section">
    <h3>Usage</h3>
    <ul>
      <li>
        AssetTracker is easy to use. All you need to know is your asset name and
        price.
      </li>
      <li>
        How to use this website is explained in the
        <a href="/usage">usage page.</a>Please check it out.
      </li>
    </ul>
  </div>
</div>
