<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
    <title>Document</title>
  </head>
  <body>
    <div id="barChart">
      <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const labelArray = "<%-testData.map((data) => data.stockName)%>".split(
        ","
      );
      const totalValueArray =
        "<%-testData.map((data) => data.totalValue)%>".split(",");
      const totalInvestment =
        "<%-testData.map((data) => data.investedAmount)%>".split(",");

      console.log(typeof totalValueArray);
      console.log(labelArray);

      // setup
      const data = {
        labels: labelArray,
        datasets: [
          {
            label: "Invested",
            data: totalInvestment,
            backgroundColor: ["#ABD6DFFF"],
            borderColor: ["black"],
            borderWidth: 1,
          },
          {
            label: "Value",
            data: totalValueArray,
            backgroundColor: ["#7DB46CFF"],
            borderColor: ["black"],
            borderWidth: 1,
          },
        ],
      };

      // config
      const config = {
        type: "bar",
        data,
      };

      // render init block
      const myChart = new Chart(document.getElementById("myChart"), config);
    </script>
  </body>
</html>
