<% layout('/layout/boilerplate.ejs') %>
<form class="loginForm" action="/register" method="post">
  <div class="card card-bg" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Register</h5>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="userId" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="userId"
          placeholder="username"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="password"
          name="password"
          pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
          required
        />
        <div id="password" class="form-text">
          We'll never share your credentials with anyone else.
        </div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
