<% layout('/layout/boilerplate.ejs') %>
<div class="usage-content-wrapper">
  <div class="content-section">
    <h1>How to use AssetTracker Website</h1>
    <p>
      Asset Tracker helps you track all your financial assets. In this website,
      the users will get live day to day update of their stocks as well as they
      can track their personal assets. The website provide you with all
      necessary information regarding your assets like their percentage
      gain/loss and your total savings.
    </p>
  </div>
  <div class="content-section">
    <h3>Features</h3>
    <ul>
      <li>Live update every 24 hours</li>
      <li>Graphical representation using charts</li>
      <li>Authentication and secure datas</li>
      <li>Local assets with update price feature</li>
      <li>Cross platform and devices</li>
    </ul>
  </div>
  <div class="content-section">
    <h3>Track your stocks</h3>
    <ul>
      <li>
        Track your NASDAQ (USA) and NSE (India) stocks You can get live price as
        well as you can customise with your own price.
      </li>
      <li>
        Simply enter your stock name in Add stock field and confirm the
        transaction
      </li>
      <li>
        You can get live current price as well as add your custom price too.
      </li>
    </ul>
  </div>

  <div class="content-section">
    <h3>Add custom assets and update their price</h3>
    <ul>
      <li>
        Custom assets like gold, silver, painting, real estates, etc can be
        added. Their price value can be updated by users.
      </li>
    </ul>
  </div>

  <div class="content-section">
    <h3>Graphical representation</h3>
    <ul>
      <li>
        Users will get graphical representation using different charts. Pie
        chart: Allocations of assets in your portfolio, Bar chart: Invested
        amount vs Current value
      </li>
      <li>
        Graphical representation includes: Your total portfolio division in pie
        chart and a bar chart showing each individual asset profit/loss vs their
        invested amount.
      </li>
    </ul>
  </div>
</div>
