@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.main-header {
  margin-left: 80px;

  font-size: 30px;
}
.header-two {
  margin-bottom: 40px;
  margin-top: 30px;
}

/* For Background image */
.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1461263895214-7761d3a942de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1210&q=80");
}

/* Nav title */
.nav-title {
  font-size: large;
}

/* Main content */
.main-box {
  text-align: center;
}
.main-content {
  color: rgba(0, 0, 0, 0.809);
  margin-top: 100px;
  margin-left: 20px;
  margin-right: auto;
}

.main-btn {
  background-color: #343a40;
  color: white;
  font-size: 23px;
  font-weight: 600;
}

.main-btn:hover {
  background-color: rgba(255, 255, 255, 0.557);
  color: rgba(24, 24, 24, 0.724);
}

.login-btn {
  margin-top: 5px;
  background-color: #343a40d8;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 28px;
}

.login-btn:hover {
  background-color: rgba(255, 255, 255, 0.557);
  color: rgba(48, 47, 47);
}

/* Footbar */
.homepage-footer {
  text-align: center;
  background-color: rgb(35, 35, 35);
  color: whitesmoke;
  padding: 35px;
  /* Help fix footer at the bottom */
  position: sticky;
  top: 100%;
  width: 100%;
  height: 5px; /* Height of the footer */
}

/* Login Form CSS */
.loginForm {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px 0;
}

.card {
  border-radius: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.loginPage,
.registerPage,
.portfolioPage,
.homepage {
  background-size: cover; /* Stretch the background image across the page */
  background-position: center;
  min-height: 100vh;
}
.loginPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.registerPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.portfolioPage {
  flex: 1;
  background-size: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./bg-img/portfolioBg.png");
}

/* Portfolio page */
.portfolio-main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.asset-summary {
  background-color: rgb(225, 225, 225);
  margin-top: 40px;
  margin-left: 80px;
  width: 550px;
  padding: 15px 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 2px grey solid;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  max-height: 500px;
}

.left-side {
  min-height: 500px;
  margin-top: 100px;
}

.asset-header {
  margin-top: 0;
  font-size: 20px;
}

/* .asset-summary button {
} */

.asset {
  margin-top: 6px;
  background-color: white;
  display: flex;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 6px;
  justify-content: space-between;
  border: 1px rgb(61, 60, 60) solid;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(26, 26, 26, 0.5);
}

.asset:first-child {
  border-top: 3px rgb(61, 60, 60) solid;
}

.scrolling-asset {
  height: 30%;
  overflow-y: scroll;
}

.asset-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.asset-right p {
  margin: 4px;
}

.asset-left p {
  margin: 3px;
}

.tools {
  margin-top: 90px;
  margin-right: 80px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  width: 400px;
  padding: 10px;
}

.add-stock-form {
  width: 330px;
}

#cAsset {
  margin-left: 10px;
}

.stock-price-form {
  font-size: 14px;
}

#price-form {
  display: none;
}

#custom-asset {
  display: none;
}

.piechart {
  margin-top: 40px;
  display: block;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(pink 70deg, lightblue 0 235deg, orange 0);
}

/* FORM  */

/* Chart */
#chart-field {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

#barChart {
  height: 400px;
  width: 500px;
}

#myChart {
  height: 250px;
  min-width: 250px;
}

.assets-info {
  display: flex;
  justify-content: space-between;
}

.asset-top-list {
  margin-top: 80px;
  height: 250px;
  padding: 50px 20px;
  width: 350px;
  margin-right: 100px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.asset-top-list ol {
  padding-left: 15px;
}
.asset-top-list li:nth-child(1) {
  margin-top: 30px;
}

.asset-top-list li {
  margin-bottom: 8px;
  font-size: 18px;
}

.performer {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.total-info-detail {
  display: flex;
  flex-direction: column;
}

.total-info-detail p {
  margin-bottom: 5px;
}

#total-info {
  /* grid-template-rows: 1fr; */
  padding: 5px 30px;
  padding-bottom: 5px;
  background-color: white;
  margin: 0 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px rgb(61, 60, 60) solid;
}
.total-info-top {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.total-info-bottom {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 6px;
  border-top: 1px rgb(61, 60, 60) solid;
  padding-top: 4px;
}

.small-text {
  font-size: 14px;
}

#customPriceUpdate {
  background-color: white;
  border: 0.5px solid grey;
  border-radius: 5px;
}

/* MEDIA QUERY */
@media (max-width: 1100px) {
  .asset-summary {
    width: 500px;
    margin: 12px 15px;
    padding: 7px 17px;
  }

  .main-header {
    margin-left: 0;
  }

  .add-stock {
    margin-left: 80px;
  }

  .add-stock-form {
    margin: 7px auto;
    width: 400px;
  }

  .assets-info {
    flex-direction: column;
    margin-left: 0;
  }
  #chart-field {
    margin: 0;
    margin-left: 18%;
    gap: 50px;
  }

  #barChart {
    margin-top: 12px;
    width: 350px;
    height: 300px;
    margin-bottom: 30px;
  }

  #myChart {
    min-width: 300px;
  }

  .asset-top-list {
    width: 60%;
    height: 200px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 40px auto;
  }
}

@media (max-width: 900px) {
  .portfolio-main {
    flex-direction: column;
    gap: 10px;
  }
  .asset-summary {
    width: 550px;
    margin: 12px auto;
    padding: 7px 17px;
  }

  .main-header {
    margin-left: 0;
  }

  .add-stock {
    margin-left: 80px;
  }

  .add-stock-form {
    margin: 7px auto;
    width: 400px;
  }

  .assets-info {
    flex-direction: column;
    margin-left: 0;
  }

  #barChart {
    margin-top: 12px;
    width: 350px;
    height: 300px;
    margin-bottom: 30px;
  }

  #myChart {
    min-width: 300px;
  }

  .asset-top-list {
    width: 60%;
    height: 200px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 40px auto;
  }
}

@media (max-width: 600px) {
  .portfolio-main {
    flex-direction: column;
    gap: 10px;
  }
  .asset-summary {
    width: 450px;
    margin: 12px auto;
    padding: 7px 17px;
  }

  .main-header {
    margin-left: 0;
  }

  .add-stock {
    margin-left: 80px;
  }

  .add-stock-form {
    margin: 7px auto;
  }

  .assets-info {
    flex-direction: column;
    margin-left: 0;
  }
  #chart-field {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  #barChart {
    margin-top: 12px;
    width: 450px;
    height: 150px;
    margin-bottom: 30px;
  }

  .asset-top-list {
    width: 460px;
    height: 200px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 40px auto;
  }
}

@media (max-width: 500px) {
  .portfolio-main {
    flex-direction: column;
    gap: 10px;
  }
  .asset-summary {
    width: 360px;
    margin: 12px auto;
    padding: 7px 17px;
  }

  .main-header {
    margin-left: 0;
  }

  .add-stock {
    margin-left: 80px;
  }

  .add-stock-form {
    margin: 7px auto;
  }

  .assets-info {
    flex-direction: column;
    margin-left: 0;
  }
  #chart-field {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  #barChart {
    margin-top: 12px;
    width: 380px;
    height: 150px;
    margin-bottom: 50px;
  }

  .asset-top-list {
    width: 320px;
    height: 200px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 40px auto;
  }
}

@media (max-width: 400px) {
  .portfolio-main {
    flex-direction: column;
    gap: 10px;
  }
  .asset-summary {
    max-width: 350px;
    margin: 10px auto;
    padding: 5px 15px;
  }

  .asset {
  }
  .main-header {
    margin-left: 0;
  }

  .add-stock {
    margin-left: 70px;
  }

  .add-stock-form {
    margin: 5px auto;
  }

  .assets-info {
    flex-direction: column;
    margin-left: 0;
  }
  #chart-field {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  #barChart {
    margin-top: 10px;
    width: 300px;
    height: 150px;
  }

  .asset-top-list {
    width: 300px;
    height: 200px;
    padding: 10px 10px;
    font-size: 14px;
    margin: 40px auto;
  }
}
